<h1>Event Dashboard</h1>

<%= button_to 'Create Event A', create_event_events_path(event_type: 'A'), method: :post %>
<%= button_to 'Create Event B', create_event_events_path(event_type: 'B'), method: :post %>
